<div class="center">
  <p><%= flash[:notice] %></p>
  <p><%= "App ID: #{@app.app_id}" %></p>
  <p><%= link_to "編集", edit_kintone_app_path %></p>
  <p><%= link_to "戻る", authenticated_root_path %></p>
</div>
