<div class="center">
  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <button class="btn">ログアウト</button>
    <% end %>
    <p class="msg">ログイン中です、画面を閉じてください。</p>
    <%= link_to "アカウント情報", user_path(current_user) %><br />
    <%= link_to "レコード情報", kintone_app_path(KintoneApp.find(1).id) %> 
  <% end %>
</div>
